@model IEnumerable<EnterwellTask.Models.Stavka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:#222;color:white">
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>Akcija</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
       
        <td style="width:40%">
            @Html.ActionLink("Edit", "Edit", new { id=item.StavkaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StavkaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StavkaID })
        </td>
    </tr>
}

</table>
<style>
    .table{
        width:60%;

    }
</style>