@model EnterwellTask.Models.FakturaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faktura</h4>
    <hr />
    <dl class="dl-horizontal" style="text-align:left">
        <dt>
            @Html.DisplayNameFor(model => model.DatumStvaranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumStvaranja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumDospijeca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumDospijeca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UkupnaCijenaBezPoreza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UkupnaCijenaBezPoreza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UkupnaCijenaSaPorezom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UkupnaCijenaSaPorezom)
        </dd>

        <dt>
            Kreirao fakturu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimateljRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimateljRacuna)
        </dd>

    </dl>
</div>
<div style="width:50%">
    <h2 >Stavke fakture</h2>
    <table class="table">
        <thead>
            <th>
                #
            </th>
            <th>
                Opis
            </th>
            <th>
                Kolicina
            </th>
        </thead>
        <tbody>
          @for(int i = 0; i <Model.Stavke.Count; i++)
          {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.Stavke[i].Opis</td>
                <td>@Model.Stavke[i].Kolicina</td>
            </tr>
          }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FakturaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
    .dl-horizontal dt {
        text-align: left;
        margin-right:2%;
        width:15%;
    }
    th {
        background-color: #101010;
        color:white;
        width:33%;
    }
    td{
        width:33%;
    }
    table{
        border:1px solid black;
    }
</style>