@model IEnumerable<EnterwellTask.Models.FakturaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead style="background-color:lightgrey">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumStvaranja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumDospijeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UkupnaCijenaSaPorezom)
            </th>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimateljRacuna)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr style="background-color:ghostwhite">
        <td>
            @Html.DisplayFor(modelItem => item.DatumStvaranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumDospijeca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupnaCijenaSaPorezom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimateljRacuna)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FakturaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FakturaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FakturaID })
        </td>
    </tr>
}

</table>
